body { padding-top: 70px; padding-bottom: 30px; }
td.align-right, th.align-right { text-align: right; }
td.align-center, th.align-center, tr.align-center { text-align: center; }

div.alert.runs { overflow: hidden; padding: 5px; }
a.label-run { margin: 5px; }
div.label-run { margin-bottom: 10px; }
span.delay { margin-left: 15px; }

.alert-success div.alert-separator {  margin-top: 10px; margin-bottom: 10px; border-bottom: 1px solid #5BC0DE; }
.alert-warning div.alert-separator {  margin-top: 10px; margin-bottom: 10px; border-bottom: 1px solid #8A6D3B; }

.theme-showcase > p > .btn {
  margin: 5px 0;
}


a.nowrap { white-space: nowrap; }

div.scheme { float: right; margin-bottom: 15px; }

td.trackLess { background-color: #FCF8E3; }
td.trackMore { background-color: #DFF0D8; }

td.nowrap { white-space: nowrap; }

td pre.prettyprint { white-space: pre-wrap; }

ul.nodes {  list-style-type: none; padding-left: 30px; margin-bottom: 15px; margin-top: 10px; }
span.nodes { padding-left: 15px; }

ul.dropdown-menu.cluster { width: 20em; }
a.icinga { float: right; margin-right: 15px; }
div.run-browser a.close-browser { float: right; }

th.sort-header { cursor: pointer; white-space: nowrap; }
th.sort-header span.sort-carret { padding-left: 5px; }

table.hide-actions tr:hover a.hover-hide { visibility: visible; }
table.hide-actions tr a.hover-hide { visibility: hidden; }

ol.breadcrumb span.blue { color: #337AB7; }

.log-browser .nav > li > a {
  font-size: 12px;
  padding: 5px 10px;
}

.log-browser .nav > li > a > .badge {
  font-size: 10px;
}

.log-browser pre.log {
  font-size: 10px;
}

.dqm-refresh-on {
	/* box-shadow: 0 0 8px rgba(81, 203, 238, 1) inset; */
	-webkit-animation: dqm-refresh-blink 1s ease-in-out;
	animation: dqm-refresh-blink 1s ease-in-out;
}

.dqm-refresh-off {
    /*
	-webkit-transition: box-shadow 1s ease-in-out;
	-moz-transition: box-shadow 1s ease-in-out;
	-ms-transition: box-shadow 1s ease-in-out;
	-o-transition: box-shadow 1s ease-in-out;
	transition: box-shadow 2s ease-in-out;

	box-shadow: none;
	*/
}

@keyframes dqm-refresh-blink {
	0%   { opacity: 1; }
	50%  { opacity: 0.60; }
	100% { opacity: 1; }
}

@-webkit-keyframes dqm-refresh-blink {
	0%   { opacity: 1; }
	50%  { opacity: 0.60; }
	100% { opacity: 1; }
}
