<div ng-controller="LumiCtrl">
  <div ng-controller="LumiRunCtrl as LumiRunCtrl">
    <div ng-show="LumiRunCtrl.runs_loaded">
      <div ng-show="LumiRunCtrl.runs.length"  class="runs alert-success alert run-browser">

        <span ng-if="! ParamsCtrl.params.showRunBrowser">
          <a ng-repeat="key in LumiRunCtrl.runs | limitTo:15" class="label-run label label-info" ng-click="LumiRunCtrl.set_run(key)"> {{ key }} </a>

          <a class="label-run label label-warning"  ng-click="ParamsCtrl.setKey('showRunBrowser', true)"> (click for more) </a>
        </span>

        <span ng-if="ParamsCtrl.params.showRunBrowser">
          <form class="form-inline">
            <div class="form-group">
              <input type="text" typeahead="run for run in LumiRunCtrl.runs | filter:$viewValue | limitTo:8"
                class="form-control input-sm" ng-model="LumiRunCtrl.current_run_">
            </div>

          <button ng-show="LumiRunCtrl.current_run != LumiRunCtrl.current_run_" type="submit" class="btn btn-primary btn-sm" ng-click="LumiRunCtrl.set_run(LumiRunCtrl.current_run_)"> go! </button>

          <button ng-show="LumiRunCtrl.previous_run" class="btn btn-default btn-sm" ng-click="LumiRunCtrl.set_run(LumiRunCtrl.previous_run)"> previous: {{ LumiRunCtrl.previous_run }}</button>
          <button ng-show="LumiRunCtrl.next_run" class="btn btn-default btn-sm" ng-click="LumiRunCtrl.set_run(LumiRunCtrl.next_run)"> next: {{ LumiRunCtrl.next_run }}</button>
          <a class="btn btn-warning btn-xs close-browser" ng-click="ParamsCtrl.setKey('showRunBrowser', null)"> (return/hide) </a>
          </form>

          <!--span ng-show="LumiRunCtrl.current_run" class="label label-success"> {{ LumiRunCtrl.current_run }} </span>
          <span ng-hide="LumiRunCtrl.current_run" class="label label-success"> (none) </span-->

        </span>
      </div>

      <div ng-hide="LumiRunCtrl.runs.length" class="runs alert-warning alert">
        <strong>Warning!</strong> no runs!
      </div>
    </div>
  </div>

  <div ng-show="LumiCtrl.run">

    <div class="page-header">
      <h2>Run <span class="label label-success">{{ LumiCtrl.run }}</span>
      <div class="scheme filter">
        <a ng-hide="ParamsCtrl.params.showTimestampsGraph" ng-click="ParamsCtrl.setKey('showTimestampsGraph', true)" class="btn btn-info btn-xs">show stream delivery graph</a>
        <a ng-show="ParamsCtrl.params.showTimestampsGraph" ng-click="ParamsCtrl.setKey('showTimestampsGraph', null)" class="btn btn-info btn-xs">hide stream delivery graph</a>
      </div>
    </h2>
    </div>

    <div ng-if="ParamsCtrl.params.showTimestampsGraph">
      <div ng-if="LumiCtrl.timestamps_doc">
        <graph-dqm-timestamps-lumi height="300" width="800" data="LumiCtrl.timestamps_doc" />
      </div>
    </div>

    <div class="page-header">

      <h3> Known cmssw jobs for this host </h3>
      <div class="scheme filter">
        <a ng-class="{ 'btn-default': !!LumiCtrl.ec_hide.success, 'btn-success': !LumiCtrl.ec_hide.success }" ng-click="LumiCtrl.ec_toggle('success')" class="btn btn-xs">running</a>
        <a ng-class="{ 'btn-default': !!LumiCtrl.ec_hide.warning, 'btn-warning': !LumiCtrl.ec_hide.warning }" ng-click="LumiCtrl.ec_toggle('warning')" class="btn btn-xs">stopped</a>
        <a ng-class="{ 'btn-default': !!LumiCtrl.ec_hide.danger,  'btn-danger' : !LumiCtrl.ec_hide.danger  }" ng-click="LumiCtrl.ec_toggle('danger')"  class="btn btn-xs">crashed</a>
      </div>
    </div>

    {{ LumiCtrl.tags }}

    <table class="table">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Delay</th>
          <th>Exit code</th>
          <th>Pid </th>
          <th>Tag</th>
          <th class="align-right">Current lumi</th>
          <th class="align-right">Seen lumi</th>
          <th class="align-right">RSS</th>
          <th class="align-right">Total Ev.</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody ng-hide="LumiCtrl.hits.length">
      <tr class="align-center active"><td colspan="100">no data</td></tr>
      </tbody>
      <tbody ng-repeat="hit in LumiCtrl.hits">
        <tr ng-class="hit.$ec_class" ng-hide="hit.$ec_class && LumiCtrl.ec_hide[hit.$ec_class]">
          <td class="timestamp">
            {{ hit._meta.timestamp*1000 | date:'yyyy-MM-dd HH:mm:ss Z' }}
          </td>
          <td><dqm-timediff-field time="hit._meta.timestamp" diff="ClusterCtrl.info_data.timestamp" /></td>
          <td class="align-right">
            <span ng-hide="hit.exit_code == undefined">
              {{ hit.exit_code }}
            </span>
            <span ng-show="hit.exit_code == undefined">
              <button ng-show="dqm_number == 3 "type="button" ng-click="LumiCtrl.openKillDialog(hit)" class="btn btn-default btn-xs btn-success">kill</button>
              <span ng-show="dqm_number != 3">running</span>
            </span>
          </td>
          <td> {{ hit.pid }} </td>
          <td> {{ hit.tag }} </td>
          <td class="align-right actions">
            {{ hit.cmssw_lumi }}
            <button type="button" ng-hide="_tr_log" ng-click="_tr_log = reverse_log(LumiCtrl.logs[hit._id])" class="btn btn-default btn-xs">log</button>
            <button type="button" ng-show="_tr_log" ng-click="_tr_log = null" class="btn btn-default btn-xs active"><span class="glyphicon glyphicon-remove"></span></button>
            <a ng-href="http://{{hit.hostname}}:9215/show/log/{{hit._id}}" target="_blank" class="btn btn-default btn-xs">full</a>
          </td>
          <td class="align-right actions">
            {{ hit.$lastLumi }}
            <button type="button" ng-hide="_tr_source" ng-click="_tr_source = toJson(hit.$sortedLumi)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-list"></span></button>
            <button type="button" ng-show="_tr_source" ng-click="_tr_source = null" class="btn btn-default btn-xs active"><span class="glyphicon glyphicon-remove"></span></button>

          </td>
          <td class="align-right actions">
            {{ hit.extra.ps_info.VmRSS | dqm_megabytes }}
            <button type="button" ng-hide="_tr_source" ng-click="_tr_source = toJson(hit.extra.ps_info)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-list"></span></button>
            <button type="button" ng-show="_tr_source" ng-click="_tr_source = null" class="btn btn-default btn-xs active"><span class="glyphicon glyphicon-remove"></span></button>
            <button type="button" ng-hide="_tr_graph" ng-click="_tr_graph = true" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-picture"></span></button>
            <button type="button" ng-show="_tr_graph" ng-click="_tr_graph = null" class="btn btn-default btn-xs active"><span class="glyphicon glyphicon-remove"></span></button>
          </td>
          <td class="align-right actions"><span ng-show="hit.events_total">{{ hit.events_total }} ({{ hit.events_rate }} evt/s)</span></td>
          <td>
            <button type="button" ng-hide="_tr_source" ng-click="_tr_source = toJson(hit)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-comment"></span></button>
            <button type="button" ng-show="_tr_source" ng-click="_tr_source = null" class="btn btn-default btn-xs active"><span class="glyphicon glyphicon-remove"></span></button>
          </td>
        </tr>
        <tr ng-show="_tr_source"><td colspan="100">
          <pre class="prettyprint" lang="javascript" prettify-source="{{ _tr_source }}"></pre>
        </td></tr>
        <tr ng-show="_tr_log"><td colspan="100">
          <pre class="prettyprint" lang="javascript" ng-bind="_tr_log"></pre>
        </td></tr>
        <tr ng-if="_tr_graph"><td colspan="100">
          <dqm-memory-graph height="300" width="800" data="hit.extra.mem_info" />
        </td></tr>
      </tbody>
    </table>
  </div>
</div>
