<div ng-controller="LumiRunCtrl">
  <div ng-show="_.size(SyncPool._conn) == 0">
    <div class="runs alert-danger alert">
      <strong> Warning! </strong> No hosts selected, nothing to monitor.
    </div>
  </div>

  <div ng-show="!LocParams.p.hideRunBrowser">
    <div class="runs alert-success alert run-browser">
      <a class="btn btn-xs close" ng-click="LocParams.setKey('hideRunBrowser', true)"> &times; </a>

      <label>
        <input type="checkbox" value="true" ng-model="LocParams.p.trackRun">
        Track newest (ongoing) run
      </label>

      <div ng-hide="LocParams.p.trackRun">
        <div class="alert-separator"></div>

        <div class="label-run"> Newest:
          <a ng-repeat="key in LumiRunCtrl.runs | limitTo:15" class="label-run label label-info" ng-click="LocParams.setKey('run', key)"> {{ key }} </a>
          <a ng-hide="LumiRunCtrl.runs.length"> no runs! </a>
        </div>

        <div class="alert-separator"></div>

        <form class="form-inline">
          <div class="form-group">
            <input type="text" typeahead="run for run in LumiRunCtrl.runs | filter:$viewValue | limitTo:8"
              class="form-control input-sm" ng-model="LumiRunCtrl.run_">
          </div>

          <button ng-show="LumiRunCtrl.run != LumiRunCtrl.run_" type="submit" class="btn btn-primary btn-sm" ng-click="LocParams.setKey('run', LumiRunCtrl.run_)"> go! </button>

          <button ng-show="LumiRunCtrl.previous_run" class="btn btn-default btn-sm" ng-click="LocParams.setKey('run', LumiRunCtrl.previous_run)"> previous: {{ LumiRunCtrl.previous_run }}</button>
          <button ng-show="LumiRunCtrl.next_run" class="btn btn-default btn-sm"     ng-click="LocParams.setKey('run', LumiRunCtrl.next_run)"> next: {{ LumiRunCtrl.next_run }}</button>

          <span> (total: {{ LumiRunCtrl.runs.length }} )</span>
        </form>
      </div>
    </div>
  </div>

  <!-- this is for non selected runs -->
  <!-- @TODO not sure if it ever displayed -->
  <div ng-hide="LumiRunCtrl.run">
    <ol class="breadcrumb">
      <li>
        <span class="blue">Run <strong>not selected</strong></span>
        <a ng-show="LocParams.p.hideRunBrowser" ng-click="LocParams.setKey('hideRunBrowser', null)" class="btn btn-info btn-xs">show run browser</a>
      </li>
    </ol>
  </div>

  <div ng-show="LumiRunCtrl.run">

    <!-- playback stuff -->
    <div ng-controller="CachedDocumentCtrl" doc-id="LumiRunCtrl.get_type_ids('dqm-playback')[0]">
      <div ng-if="doc.extra">
        <div dqm-refresh="doc" class="runs alert-warning alert run-browser">
          <strong> Run {{ LumiRunCtrl.run }} is a simulator run! </strong>
          <div class="alert-separator"></div>
          Current state: <strong> {{ doc.state }} </strong><br />
          Current lumi : <strong title="{{ doc.extra.ls_map | json }}"> {{ doc.ls }} <span ng-show="doc.config.number_of_ls > 0"> out of {{ doc.config.number_of_ls }} <span></strong>
          <a href="" ng-hide="LocParams.p.showFiles" ng-click="LocParams.setKey('showFiles', true)" class="">show file map</a>
          <a href="" ng-show="LocParams.p.showFiles" ng-click="LocParams.setKey('showFiles', null)" class="">hide</a>

          <ul ng-show="LocParams.p.showFiles">
            <li ng-repeat="(key, value) in doc.extra.ls_map"> {{ key }} &#8594; {{ value }} </li>
          </ul>

          <div class="alert-separator"></div>

          <div ng-controller="UtilsCtrl">
            <span ng-show="doc.state == 'running'">
              <span ng-hide="command_confirm_">
                <button type="button" class="btn btn-default btn-sm" ng-click="command_confirm_ = 'next_run'">Skip to the next run</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="command_confirm_ = 'next_lumi'">Skip to the next lumi</button>
                <button type="button" class="btn btn-default btn-sm" ng-click="command_confirm_ = 'make_it_crash'">Make it crash (and start a new run) </button>
              </span>
            </span>

            <span ng-show="command_confirm_">
              <button type="button" class="btn btn-sm btn-default" ng-click="command_confirm_ = null;">Don't send "{{ command_confirm_ }}" to fff_simulator!</button>
              <button type="button" class="btn btn-sm btn-primary" ng-click="command_ = command_confirm_; command_confirm_ = null; sendControlCommand(doc, doc.socket_name, command_);">Send!</button>
            </span>

          </div>
        </div>
      </div>
    </div>
    <!-- end of playback stuff -->

    <ol class="breadcrumb">
      <li>
        <span class="blue">Run <strong>{{ LumiRunCtrl.run }}</strong></span>
      </li>
      <li>
        <span class="blue">File delivery graph</span>
        <a ng-hide="LocParams.p.showTimestampsGraph" ng-click="LocParams.setKey('showTimestampsGraph', true)" class="btn btn-info btn-xs">show</a>
        <a ng-show="LocParams.p.showTimestampsGraph" ng-click="LocParams.setKey('showTimestampsGraph', null)" class="btn btn-warning btn-xs">hide</a>

        <span ng-show="LocParams.p.showTimestampsGraph">
          <a ng-hide="LocParams.p.tsGraph" ng-click="LocParams.setKey('tsGraph', 'all')" class="btn btn-default btn-xs">show all files</a>
          <a ng-show="LocParams.p.tsGraph" ng-click="LocParams.setKey('tsGraph', null)" class="btn btn-success btn-xs">show last 100 files</a>
        </span>

        <span ng-show="LocParams.p.showTimestampsGraph">
          <a ng-hide="LocParams.p.tsMetric" ng-click="LocParams.setKey('tsMetric', 'ctime')" class="btn btn-default btn-xs">use ctime</a>
          <a ng-show="LocParams.p.tsMetric" ng-click="LocParams.setKey('tsMetric', null)" class="btn btn-success btn-xs">back to mtime</a>
        </span>
      </li>
      <li>
        <span class="blue">Accepted events graph</span>
        <a ng-hide="LocParams.p.showEventsGraph" ng-click="LocParams.setKey('showEventsGraph', true)" class="btn btn-info btn-xs">show</a>
        <a ng-show="LocParams.p.showEventsGraph" ng-click="LocParams.setKey('showEventsGraph', null)" class="btn btn-warning btn-xs">hide</a>

        <span ng-show="LocParams.p.showEventsGraph">
          <a ng-hide="LocParams.p.tsGraph" ng-click="LocParams.setKey('tsGraph', 'all')" class="btn btn-default btn-xs">show all files</a>
          <a ng-show="LocParams.p.tsGraph" ng-click="LocParams.setKey('tsGraph', null)" class="btn btn-success btn-xs">show last 100 files</a>
        </span>
      </li>
      <li ng-show="dqm_number == 3">
        <a ng-hide="LocParams.p.showAny" ng-click="LocParams.setKey('showAny', true)" class="btn btn-info btn-xs">showMisc</a>
        <a ng-show="LocParams.p.showAny" ng-click="LocParams.setKey('showAny', null)" class="btn btn-warning btn-xs">hideMisc</a>
      </li>
    </ol>

    <div ng-if="LocParams.p.showAny" ng-include="'templates/tableAny.html'"></div>

    <div ng-if="LocParams.p.showTimestampsGraph">
      <div ng-controller="CachedDocumentCtrl" doc-id="LumiRunCtrl.get_type_ids('dqm-files')[0]">
        <div dqm-refresh="doc">

          <!--div ng-controller="UtilsCtrl">
            <div ng-show="(doc.timestamp - maxTime(doc)) > 60" class="alert-warning alert">
              <strong> Warning! </strong> Report was made {{ doc.timestamp*1000 | date:'yyyy-MM-dd HH:mm:ss' }}
              and the last file was delivered {{ maxTime(doc)*1000 | date:'yyyy-MM-dd HH:mm:ss' }}.
            </div>
          </div-->

          <div ng-if="doc.extra && (_.size(doc.extra.streams) != 0)">
            <graph-dqm-timestamps-lumi height="300" width="800" data="doc" show-all="LocParams.p.tsGraph" metric="LocParams.p.tsMetric" />
          </div>
          <div ng-if="doc.extra && (_.size(doc.extra.streams) == 0)">
            <p> No streams were delivered during this run. </p>
          </div>

          <div ng-show="doc && (!doc.extra)"><p> Loading... </p></div>
          <div ng-show="!doc"><p>Graph not available for this run</p></div>
        </div> <!-- dqm-refresh -->
      </div>
    </div>

    <div ng-if="LocParams.p.showEventsGraph">
      <div ng-controller="CachedDocumentCtrl" doc-id="LumiRunCtrl.get_type_ids('dqm-files')[0]">
        <div dqm-refresh="doc">
          <div ng-if="doc.extra && (_.size(doc.extra.streams) != 0)">
            <graph-dqm-events-lumi height="300" width="800" data="doc" show-all="LocParams.p.tsGraph"/>
          </div>
          <div ng-if="doc.extra && (_.size(doc.extra.streams) == 0)">
            <p> No streams were delivered during this run. </p>
          </div>

          <div ng-show="doc && (!doc.extra)"><p> Loading... </p></div>
          <div ng-show="!doc"><p>Graph not available for this run</p></div>
        </div> <!-- dqm-refresh -->
      </div>
    </div>

    <ol class="breadcrumb">
      <li>
        <span class="blue">Run <strong>{{ LumiRunCtrl.run }}</strong></span>
      </li>
      <li>
        <span class="blue">Known cmssw jobs</span>
        <a ng-hide="LocParams.p.showJobs" ng-click="LocParams.setKey('showJobs', true)" class="btn btn-info btn-xs">show</a>
        <a ng-show="LocParams.p.showJobs" ng-click="LocParams.setKey('showJobs', null)" class="btn btn-warning btn-xs">hide</a>
      </li>
      <li ng-show="LocParams.p.showJobs">
        <span class="blue">Legend: </span>
        <a ng-class="LocParams.getFlag('filterJobs', 'r')?'btn-default':'btn-success'" ng-click="LocParams.toggleFlag('filterJobs', 'r')" class="btn btn-xs">running</a>
        <a ng-class="LocParams.getFlag('filterJobs', 's')?'btn-default':'btn-warning'" ng-click="LocParams.toggleFlag('filterJobs', 's')" class="btn btn-xs">stopped</a>
        <a ng-class="LocParams.getFlag('filterJobs', 'c')?'btn-default':'btn-danger' " ng-click="LocParams.toggleFlag('filterJobs', 'c')" class="btn btn-xs">crashed</a>
      </li>

      <li ng-if="dqm_number == 3">
        <span ng-controller="UtilsCtrl">
          <a ng-click="openDeleteDialog(_.keys(LumiRunCtrl.run_dct.items))" class="btn btn-danger btn-xs">drop run data</a>
        </span>
      </li>
    </ol>

    <div ng-if="LocParams.p.showJobs" ng-include="'templates/tableJobs.html'"></div>

  </div>

  <ol class="breadcrumb">
    <li>
      <span class="blue">Cluster stats</span>
      <a ng-hide="LocParams.p.showStats" ng-click="LocParams.setKey('showStats', true)" class="btn btn-info btn-xs">show</a>
      <a ng-show="LocParams.p.showStats" ng-click="LocParams.setKey('showStats', null)" class="btn btn-warning btn-xs">hide</a>
    </li>
  </ol>

  <div>
    <div ng-if="LocParams.p.showStats" ng-include="'templates/tableStats.html'"></div>
  </div>
</div>
