<div ng-controller="LumiRunCtrl">
  <div ng-show="_.size(SyncPool._conn) == 0">
    <div class="runs alert-danger alert">
      <strong> Warning! </strong> No hosts selected, nothing to monitor.
    </div>
  </div>

  <div ng-show="!LocParams.p.hideRunBrowser">
    <div class="runs alert-success alert run-browser">
      <a class="btn btn-xs close" ng-click="LocParams.setKey('hideRunBrowser', true)"> &times; </a>

      <label>
        <input type="checkbox" value="true" ng-model="LocParams.p.trackRun">
        Track newest (ongoing) run
      </label>

      <div ng-hide="LocParams.p.trackRun">
        <div class="alert-separator"></div>

        <div class="label-run"> Newest:
          <a ng-repeat="key in LumiRunCtrl.runs | limitTo:15" class="label-run label label-info" ng-click="LocParams.setKey('run', key)"> {{ key }} </a>
          <a ng-hide="LumiRunCtrl.runs.length"> no runs! </a>
        </div>

        <div class="alert-separator"></div>

        <form class="form-inline">
          <div class="form-group">
            <input type="text" typeahead="run for run in LumiRunCtrl.runs | filter:$viewValue | limitTo:8"
              class="form-control input-sm" ng-model="LumiRunCtrl.run_">
          </div>

          <button ng-show="LumiRunCtrl.run != LumiRunCtrl.run_" type="submit" class="btn btn-primary btn-sm" ng-click="LocParams.setKey('run', LumiRunCtrl.run_)"> go! </button>

          <button ng-show="LumiRunCtrl.previous_run" class="btn btn-default btn-sm" ng-click="LocParams.setKey('run', LumiRunCtrl.previous_run)"> previous: {{ LumiRunCtrl.previous_run }}</button>
          <button ng-show="LumiRunCtrl.next_run" class="btn btn-default btn-sm"     ng-click="LocParams.setKey('run', LumiRunCtrl.next_run)"> next: {{ LumiRunCtrl.next_run }}</button>

          <span> (total: {{ LumiRunCtrl.runs.length }} )</span>
        </form>
      </div>
    </div>
  </div>

  <div ng-hide="LumiRunCtrl.run">
    <ol class="breadcrumb">
      <li>
        <span class="blue">Run <strong>not selected</strong></span>
        <a ng-show="LocParams.p.hideRunBrowser" ng-click="LocParams.setKey('hideRunBrowser', null)" class="btn btn-info btn-xs">show run browser</a>
      </li>
    </ol>
  </div>

  <div ng-show="LumiRunCtrl.run">

    <ol class="breadcrumb">
      <li>
        <span class="blue">Run <strong>{{ LumiRunCtrl.run }}</strong></span>
      </li>
      <li>
        <span class="blue">File delivery graph</span>
        <a ng-hide="LocParams.p.showTimestampsGraph" ng-click="LocParams.setKey('showTimestampsGraph', true)" class="btn btn-info btn-xs">show</a>
        <a ng-show="LocParams.p.showTimestampsGraph" ng-click="LocParams.setKey('showTimestampsGraph', null)" class="btn btn-warning btn-xs">hide</a>

        <span ng-show="LocParams.p.showTimestampsGraph">
          <a ng-hide="LocParams.p.tsGraph" ng-click="LocParams.setKey('tsGraph', 'all')" class="btn btn-default btn-xs">show all files</a>
          <a ng-show="LocParams.p.tsGraph" ng-click="LocParams.setKey('tsGraph', null)" class="btn btn-success btn-xs">show last 100 files</a>
        </span>

      </li>
    </ol>

    <div ng-if="LocParams.p.showTimestampsGraph">
      <div ng-controller="CachedDocumentCtrl" doc-id="LumiRunCtrl.type_dct_id['dqm-timestamps'][0]">
        <div dqm-refresh="doc">
          <div ng-if="doc.extra && (_.size(doc.extra.streams) != 0)">
            <graph-dqm-timestamps-lumi height="300" width="800" data="doc" show-all="LocParams.p.tsGraph"/>
          </div>
          <div ng-if="doc.extra && (_.size(doc.extra.streams) == 0)">
            <p> No streams were delivered during this run. </p>
          </div>

          <div ng-show="doc && (!doc.extra)"><p> Loading... </p></div>
          <div ng-show="!doc"><p>Graph not available for this run</p></div>
        </div> <!-- dqm-refresh -->
      </div>
    </div>

    <ol class="breadcrumb">
      <li>
        <span class="blue">Run <strong>{{ LumiRunCtrl.run }}</strong></span>
      </li>
      <li>
        <span class="blue">Known cmssw jobs</span>
        <a ng-hide="LocParams.p.showJobs" ng-click="LocParams.setKey('showJobs', true)" class="btn btn-info btn-xs">show</a>
        <a ng-show="LocParams.p.showJobs" ng-click="LocParams.setKey('showJobs', null)" class="btn btn-warning btn-xs">hide</a>
      </li>
      <li ng-show="LocParams.p.showJobs">
        <span class="blue">Legend: </span>
        <a ng-class="LocParams.getFlag('filterJobs', 'r')?'btn-default':'btn-success'" ng-click="LocParams.toggleFlag('filterJobs', 'r')" class="btn btn-xs">running</a>
        <a ng-class="LocParams.getFlag('filterJobs', 's')?'btn-default':'btn-warning'" ng-click="LocParams.toggleFlag('filterJobs', 's')" class="btn btn-xs">stopped</a>
        <a ng-class="LocParams.getFlag('filterJobs', 'c')?'btn-default':'btn-danger' " ng-click="LocParams.toggleFlag('filterJobs', 'c')" class="btn btn-xs">crashed</a>
      </li>

      <li ng-if="dqm_number == 3">
        <span ng-controller="UtilsCtrl">
          <a ng-click="openDeleteDialog(_.keys(LumiRunCtrl.run_dct.items))" class="btn btn-danger btn-xs">drop run data</a>
        </span>
      </li>
    </ol>

    <div ng-if="LocParams.p.showJobs" ng-include="'templates/tableJobs.html'"></div>

  </div>

  <ol class="breadcrumb">
    <li>
      <span class="blue">Cluster stats</span>
      <a ng-hide="LocParams.p.showStats" ng-click="LocParams.setKey('showStats', true)" class="btn btn-info btn-xs">show</a>
      <a ng-show="LocParams.p.showStats" ng-click="LocParams.setKey('showStats', null)" class="btn btn-warning btn-xs">hide</a>
    </li>
  </ol>

  <div>
    <div ng-if="LocParams.p.showStats" ng-include="'templates/tableStats.html'"></div>
  </div>
</div>
