<div ng-controller="RunStatsCtrl">
  <div ng-show="_.size(SyncPool._conn) == 0">
    <div class="runs alert-danger alert">
      <strong> Warning! </strong> No hosts selected, nothing to monitor.
    </div>
  </div>

  <div class="runs alert-success alert run-browser">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default" ng-click="RunStatsCtrl.select_last(5)">Last 5 runs</button>
      <button type="button" class="btn btn-default" ng-click="RunStatsCtrl.select_last(15)">Last 15 runs</button>
      <button type="button" class="btn btn-default" ng-click="RunStatsCtrl.select_last(50)">Last 50 runs</button>
      <button type="button" class="btn btn-default" ng-click="RunStatsCtrl.select_last(100)">Last 100 runs</button>
    </div>

    <div class="alert-separator"></div>
    <form class="form-inline">
      <div class="form-group">
        <label for="first_run">First run: </label>
        <input id="fist_run" type="text" typeahead="run for run in RunStatsCtrl.runs | filter:$viewValue | limitTo:8"
          class="form-control input-sm" ng-model="LocParams.p.firstRun">
      </div>

      <div class="form-group">
        <label for="last_run">Last run: </label>
        <input id="last_run" type="text" typeahead="run for run in RunStatsCtrl.runs | filter:$viewValue | limitTo:8"
          class="form-control input-sm" ng-model="LocParams.p.lastRun">
      </div>

      <span> ({{ RunStatsCtrl.runs_selected.length }} runs)</span>

      <div class="alert-separator"></div>
      <button type="submit" ng-disabled="(RunStatsCtrl.runs_selected.length > 2000) || RunStatsCtrl.stats_p._progress" class="btn btn-primary btn-sm" ng-click="RunStatsCtrl.just_do_it()"> just do it! </button>

      <span ng-show="RunStats.get_cache_length()">
        <button ng-hide="RunStatsCtrl.clear_cache_confirm_" type="button" class="btn btn-default" ng-click="RunStatsCtrl.clear_cache_confirm_ = true">clear cache</button>
        <button ng-show="RunStatsCtrl.clear_cache_confirm_" type="button" class="btn btn-default" ng-click="RunStatsCtrl.clear_cache_confirm_ = false; RunStats.clear_cache();">are you sure?!</button>
      </span>

      <span ng-show="RunStatsCtrl.runs_selected.length > 1000"> Too many runs! </span>
      <span ng-show="RunStatsCtrl.stats_p._progress"> Loading runs: {{ RunStatsCtrl.stats_p._progress.fetched }} out of {{ RunStatsCtrl.stats_p._progress.total }} </span>
    </form>
  </div>

  <div ng-if="RunStatsCtrl.stats" ng-include="'templates/tableStats.html'" onload="StatsCtrl = RunStatsCtrl"></div>
</div>
