<ol class="breadcrumb">
  <li>
    <span ng-show="StatsCtrl.stats.length > 1" class="blue">Stats for <strong>{{ StatsCtrl.stats.length }}</strong> runs</span>
    <span ng-hide="StatsCtrl.stats.length > 1" class="blue">Stats for run <strong>{{ StatsCtrl.stats[0].run }}</strong> </span>
  </li>
  <li>
    <span class="blue">Show CSV</span>
    <a ng-hide="LocParams.p.showCSV" ng-click="LocParams.setKey('showCSV', true)" class="btn btn-info btn-xs">show</a>
    <a ng-show="LocParams.p.showCSV" ng-click="LocParams.setKey('showCSV', null)" class="btn btn-warning btn-xs">hide</a>
  </li>
</ol>

<div ng-show="LocParams.p.showCSV">
  <pre class="log" ng-bind="StatsCtrl.stats_csv"></pre>
</div>

<table class="table hide-actions" dqm-sorted-table="" key="LocParams.p.statsKey" path="sortPath">
  <thead>
    <tr>
      <th dqm-sort-header="run" path="run | dqm_int">Run</th>

      <th dqm-sort-header="run_started">Start</th>
      <th dqm-sort-header="run_stopped">Stop</th>

      <th dqm-sort-header="file_delivery_mean" path="file_delivery_mean | dqm_float" title="{{ RunStats.stats_dict['file_delivery_mean'].title }}">F. mean</th>
      <th dqm-sort-header="file_delivery_sigma" path="file_delivery_sigma | dqm_float" title="{{ RunStats.stats_dict['file_delivery_sigma'].title }}">F. sigma</th>

      <th dqm-sort-header="file_delivery_lumi" path="file_delivery_lumi | dqm_int">Lumi</th>
      <th dqm-sort-header="file_delivery_evt_accepted" path="file_delivery_evt_accepted | dqm_float">Evt. acc.</th>
      <th dqm-sort-header="file_delivery_fsize" path="file_delivery_fsize | dqm_megabytes">Size</th>

      <th dqm-sort-header="jobs_total" path="jobs_total| dqm_int">Jobs</th>
      <th dqm-sort-header="jobs_crashed" path="jobs_crashed | dqm_int">Crashed</th>

      <th dqm-sort-header="jobs_max_events_total" path="jobs_max_events_total | dqm_float">Evts</th>
      <th dqm-sort-header="jobs_max_events_rate" path="jobs_max_events_rate | dqm_float">Rate</th>

    </tr>
  </thead>

  <tbody ng-hide="StatsCtrl.stats.length">
  <tr class="align-center active"><td colspan="100">no data</td></tr>
  </tbody>

  <tbody>
    <tr ng-repeat="doc in (StatsCtrl.stats | orderBy:sortPath) track by doc.run">
      <td class="nowrap">{{ doc.run }}</td>
      <td class="nowrap">{{ doc.run_started*1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>
      <td class="nowrap">{{ doc.run_stopped*1000 | date:'yyyy-MM-dd HH:mm:ss' }}</td>

      <td class="nowrap">{{ doc.file_delivery_mean | number:2 }}</td>
      <td class="nowrap">{{ doc.file_delivery_sigma | number:2 }}</td>

      <td class="nowrap">{{ doc.file_delivery_lumi }}</td>
      <td class="nowrap">{{ doc.file_delivery_evt_accepted }}</td>
      <td class="nowrap">{{ doc.file_delivery_fsize | dqm_megabytes | number:2 }} mb. </td>

      <td class="nowrap">{{ doc.jobs_total }}</td>
      <td class="nowrap">{{ doc.jobs_crashed }}</td>

      <td class="nowrap">{{ doc.jobs_max_events_total | number:2 }}</td>
      <td class="nowrap">{{ doc.jobs_max_events_rate | number:2 }}</td>
    </tr>
  </tbody>
</table>
