<div class="page-header">
  <h1>Stats</h1>
</div>

<div ng-controller="StatsController">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Delay</th>
        <th>Type</th>
        <th>Hostname</th>
        <th>Pid</th>

        <th> Disk used </th>
        <th> Disk free </th>

        <th> Memory used </th>
        <th> Memory free </th>

        <th>?</th>
      </tr>
    </thead>
    <tbody ng-repeat="hit in hits">
      <tr>
        <td class="timestamp">
          {{ hit._meta.timestamp*1000 | date:'yyyy-MM-dd HH:mm:ss Z' }}
        </td>
        <td><dqm-timediff-field time="hit._meta.timestamp" diff="ClusterCtrl.info_data.timestamp" /></td>
        </td>
        <td>
          {{ hit.type }}
          <span ng-show="hit.tag == 'fff_deleter_minidaq'"> (minidaq) </span>
        </td>
        <td> {{ hit.hostname }} </td>
        <td> {{ hit.pid }} </td>

        <td ng-show="hit._type == 'dqm-diskspace'"> {{ hit.disk_used | dqm_megabytes }} ({{ hit.$disk_pc | number:2 }}%)</td>
        <td ng-show="hit._type == 'dqm-diskspace'"> {{ hit.disk_free | dqm_megabytes }}</td>

        <td ng-hide="hit._type == 'dqm-diskspace'"> -- </td>
        <td ng-hide="hit._type == 'dqm-diskspace'"> -- </td>

        <td> {{ hit.memory_used | dqm_megabytes }} </td>
        <td> {{ hit.memory_free | dqm_megabytes }} </td>
        <td class="actions">
          <button type="button" ng-hide="_tr_source" ng-click="_tr_source = toJson(hit.extra.stdlog)" class="btn btn-default btn-sm"><span>log</span></button>
          <span ng-show="hit._type == 'dqm-diskspace'"><button type="button" ng-hide="_tr_source" ng-click="_tr_source = toJson(debug_object(hit.extra.files_seen))" class="btn btn-default btn-sm"><span>files</span></button></span>
          <span ng-show="hit._type == 'dqm-stats'"><button type="button" ng-hide="_tr_source" ng-click="_tr_source = hit.extra.df" class="btn btn-default btn-sm"><span>df</span></button></span>
          <button type="button" ng-hide="_tr_source" ng-click="_tr_source = toJson(hit)" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-comment"></span></button>
          <button type="button" ng-show="_tr_source" ng-click="_tr_source = null" class="btn btn-default btn-sm active"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
      </tr>
      <tr ng-show="_tr_source"><td colspan="100">
        <pre class="prettyprint" lang="javascript" prettify-source="{{ _tr_source }}"></pre>
      </td></tr>
    </tbody>
  </table>

  <div class="lumi graph">
    <dqm-lumi-graph lumi="StatsCtrl.lumi[229830]", data-width="800", data-height="600" />
  </div>
</div>
